<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/Images/Logo_Modified .png">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/src/assets/css/Main.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Pacifico&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

  <div class="w3-container">
        <h2>Meet Some Of Our Staff    &#8631;	</h2>
        <br>
        <!-- <p>Add a caption text for each image slide with the w3-display-* classes (topleft, topmiddle, topright, bottomleft, bottommiddle, bottomright or middle).</p> -->
  </div>

      <ng-image-slider [images]="imgCollection" class="z-index" #nav></ng-image-slider>

      <h2>Feel Free To Contact Us    &#8633;</h2>
      <pre>
        Email: E-Tech@gmail.com
                  E-Tech@yahoo.com
        Telephone: +2 069 360 21 30
        Fax: +2 0100 6011 348
      </pre>
      <h2>Social Media Accounts   &#8633;</h2>
      <pre>
        <p>
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <a href="https://www.facebook.com/" rel="noopener"
           target="_blank">https://www.facebook.com/E-Tech.com</a>
        </p>
        <p>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <a href="https://twitter.com/" rel="noopener" target="_blank"> https://twitter.com/E-Tech.com</a>
        </p>
        <p>
          <i class="fa fa-youtube" aria-hidden="true"></i>
          <a href="https://www.youtube.com/" rel="noopener" target="_blank" >https://www.youtube.com/E-Tech.com</a>
        </p>
        <p>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <a href="https://www.instagram.com/" rel="noopener" target="_blank">https://www.instgram.com/E-Tech.com</a>
        </p>
      </pre>
</body>
</html>
