<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="icon" href="assets/Images/Logo_Modified .png">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Pacifico&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

      <h2>OUR STORY</h2>
      <br><br>
      <pre>From 1937 to today, this is how we’ve led the transformation of travel from the heart of communities around the world.</pre>
      <br><br>

      <div class="timeline">
      <!-- Flip Box 1 -->
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <div class="container left">
                <h3>1937</h3>
                <p>Sheraton founders Ernest Henderson and Robert Moore acquire their first hotel in Springfield, Massachusetts.
                  Within two years, they own properties from Maine to Florida.</p>
              </div>
            </div>

            <div class="flip-box-back">
              <div class="container right">
                <h3>1940s</h3>
                <p>Sheraton Corporation of America becomes the first hotel chain on the New York Stock
                  Exchange and we begin our international expansion and rapid global growth with the purchase
                   of two Canadian hotel chains.
                </p>
              </div>
            </div>
          </div>
        </div>
      <!-- Flip Box 2 -->
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <div class="container left">
                <h3>1958</h3>
                <p>
                  Innovating how guests make reservations, Sheraton launches “Reservatron,”
                  the industry’s first automatic electronic reservations system.</p>
              </div>
            </div>

            <div class="flip-box-back">
              <div class="container right">
                <h3>1960s</h3>
                <p>
                  Global expansion continues with the first Sheraton Hotel in the Middle East—Tel Aviv Sheraton and first
                   in Latin America—Macuto Sheraton in Venezuela. In 1965, Sheraton opens the doors to its 100th hotel—Sheraton Boston.
                </p>
              </div>
            </div>
          </div>
        </div>
      <!-- Flip Box 3 -->
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <div class="container left">
                <h3>1970</h3>
                <p>
                  Innovating how guests contact their hotels, Sheraton becomes the first hotel chain with a
                   toll-free 800-number for direct guest access.</p>
              </div>
            </div>

            <div class="flip-box-back">
              <div class="container right">
                <h3>1985</h3>
                <p>
                  Another first—Sheraton becomes the first international hotel chain to operate a hotel in
                   the People’s Republic of China.
                </p>
              </div>
            </div>
          </div>
        </div>
      <!-- Flip Box 4 -->
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <div class="container left">
                <h3>1998</h3>
                <p>Starwood® Hotels & Resorts Worldwide, Inc. acquires Sheraton.</p>
              </div>
            </div>

            <div class="flip-box-back">
              <div class="container right">
                <h3>2002 – 2015</h3>
                <p>
                  Growth continues with the opening of Sheraton Macao, the largest hotel in the Starwood portfolio with 3,896 guest rooms,
                   and Sheraton Shantou in China, the brand’s 100th hotel in Asia Pacific. By the end of 2015, Sheraton boasts a portfolio if
                   over 435 hotels and 88 resorts in more than 70 countries worldwide.
                </p>
              </div>
            </div>
          </div>
        </div>
      <!-- Flip Box 5 -->
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <div class="container left">
                <h3>2016</h3>
                <p> Sheraton becomes part of the world’s largest hotel company as Starwood Hotels and Resorts and Marriott
                   International complete a merger.</p>
              </div>
            </div>

            <div class="flip-box-back">
              <div class="container right">
                <h3>2019</h3>
                <p>
                  Sheraton launches a new logo as we redefine the way we welcome the world.
                </p>
              </div>
            </div>
          </div>
        </div>
      <!-- Flip Box 6 -->
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <div class="container left">
                <h3>2021</h3>
                <p>
                  Sheraton unveils its first fully transformed hotels to the world,
                  launching the start of a new era for the brand</p>
              </div>
            </div>

            <div class="flip-box-back">
              <div class="container right">
                <h3>2022+</h3>
                <p>Trying to achieve our vison.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>

</html>
