<html lang="en">
<head>
<title>E-Tech</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon"       href="assets/Images/Logo_Modified .png">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Pacifico&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="confirmation-container">
      <h1  class="confirmation-header">Success &amp;</h1>
      <div class="confirmation-items">
          <h2 class="confirmation-item">Thank You  {{ Full_Name }}!</h2>
          <h2 class="confirmation-item">Your ${{ total }} order is confirmed!</h2>
          <h2 class="confirmation-item">Please allow 1-3 buisiness day(s) for shipping.</h2>
      </div>
      <button class="back-link" routerLink="/">Back To Home</button>
    </div>
</body>
