<div class="navbar">
  <a routerLink="/" target="_blank"><i class="fa fa-home"></i> Home</a>
  <a routerLink="/Sign-In" target="_blank"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign in </a>
  <a routerLink="/Contact-Us" target="_blank"><i class="fa fa-phone"></i> Contact Us</a>
  <a routerLink="/About-Us" target="_blank"><i class="fa fa-address-book" aria-hidden="true"></i> About Us</a>
  <a routerLink="/Cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart</a>
  <div class="dropdown">
    <button class="dropbtn">Dropdown
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <div class="header">
        <h2>Our Menu</h2>
      </div>
      <div class="row">
        <div class="column">
          <h3 class="Nav_h3">Personal Computers</h3>
          <a routerLink="/CPUs" class="nav-links" target="_blank">CPUs</a>
          <a routerLink="/Monitors" class="nav-links" target="_blank"> Monitors</a>
          <a routerLink="/Mouses-Keyboards" class="nav-links" target="_blank">Mouses & Keyboards</a>
        </div>
        <div class="column">
          <h3 class="Nav_h3">Mobiles & Laptops</h3>
          <a routerLink="/Mobile-Phones" class="nav-links" target="_blank">Mobile Phones</a>
          <a routerLink="/Standard-Laptops" class="nav-links" target="_blank"> Standard Laptops</a>
          <a routerLink="/Gaming-Laptops" class="nav-links" target="_blank">Gaming Laptops</a>
        </div>
         <div class="column" id="Final_Nav_Div">
          <h3 class="Nav_h3">Accessories</h3>
          <a routerLink="/Headphones-Speakers" class="nav-links" target="_blank">Headphones & Speakers</a>
          <a routerLink="/Internal-External-Memory-Storages" class="nav-links" target="_blank">Internal-External Memory Storages</a>
          <a routerLink="/Internal-External-Cooling-Fans" class="nav-links" target="_blank">Internal & External Cooling Fans</a>
         </div>
      </div>
    </div>
  </div>
</div>
<marquee width="100%" scrollamount="15" behavior="alternate" id="Marquee">Welcome to E-Tech Website</marquee>

