<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/Images/Logo_Modified .png">
    <title>Standard Laptops</title>
    <link rel="stylesheet" href="/src/assets/css/Main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="w3-container">
        <h2 id="Browse_h2">Browse The Available Standard Laptops  &#8631;	</h2>
        <br>
  </div>
  <app-product-item *ngFor="let product of Products" [product]="product" (Notify_Parent)="Parent_Notified($event)"></app-product-item>
</body>
</html>
