<html lang="en">
<head>
<title>E-Tech</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon"       href="assets/Images/Logo_Modified .png">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Pacifico&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <h2 class="special">Browse New Offers</h2>

  <div class="row">
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let image of images" class="slide">
        <img src="{{ image.img }}" class="mySlides" alt="Slider Image">
      </div>
    </ngx-slick-carousel>
  </div>

  <br><br>
  <h2 class="special">Some Of Our Finest Products</h2>
<br>

  <app-product-item *ngFor="let product of Products" [product]="product" (Notify_Parent)="Parent_Notified($event)"></app-product-item>

</body>
</html>
